/* sets colors */
html {
    background-color:royalblue;
    color: black;
}
/* changes font */
*{
    font-family: 'Times New Roman', Times, serif;
}
/* span {
    border-right: white solid 2px;
    margin-left: 20px;
    margin-right: 20px;
} */

/* resize input tags */
input {
    height: 2vh;
    width: 50%;
    overflow: hidden;
    /* border: 1px solid white; */
    background-color: royalblue;
    /* border-bottom: 1px solid black; */
}
/* create flexbox to center itemd horizonatlly */
.flexbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
}
/* edits font of text */
input, label{
    font-size: 125%;
    /* border: 1px solid purple; */
}
/* creates individual rows */
.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
/* creates special format for radio adn checkbox input tags */
.extraClass{
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: space-evenly;
    /* width: 25%; */
    /* justify-content: space-around; */
    /* margin: 1%; */
    border: 1px solid black;
}
h1, h3{
    border: 1px solid white;
}
/* creates margin */
.margin{
    margin: 1.5%;
}
/* creates smaller margin for radio and checkbox inputs */
.meal, .extraClass{
    border: 1px solid black;
    margin: .25%;
}
/* resize button font */
button{
    font-size: 125%;
}