html {
    background-color:royalblue;
    color: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
span {
    border-right: white solid 2px;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    height: 2vh;
    width: 25%;
    overflow: hidden;
    border: 1px solid white;
    border-bottom: 1px solid black;
}
.flexbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
}
input, label{
    font-size: 125%;
    border: 1px solid purple;
}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* margin: 1%; */
    align-items: center;
}
.extraClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* margin: 1%; */
    /* border: 1px solid black; */
}
h1, h4{
    border: 1px solid white;
    margin: 1.5%;
}