/* sets colors */
html {
    background-color:rgb(13, 14, 99);
    color: white;
}
/* changes font */
*{
    font-family: 'Times New Roman', Times, serif;
}
span {
    border-right: white solid 2px;
    margin-left: 20px;
    margin-right: 20px;
}
/* prevents resizing of textareas */
textarea{
    resize: none;
    width: 25vw;
    /* overflow: scroll; */
    /* background-color: royalblue; */
    background-color:rgb(13, 14, 99);
    border: none;
    height: 25vh;
    display: flex;
    text-align: center;
    margin: 1%;
}
/* resize input tags */
input {
    height: 3vh;
    width: 50%;
    overflow: hidden;
    /* border: 1px solid white; */
    background-color: royalblue;
    /* border-bottom: 1px solid black; */
}
/* create flexbox to center itemd horizonatlly */
.flexbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
}
/* edits font of text */
input, label{
    font-size:150%;
    color: white;
    /* border: 1px solid purple; */
}
/* creates individual rows */
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.row2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* makes column flex */
.col {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
/* stops the text in checkboxes from wrapping */
.row2 > label{
    white-space: nowrap;
}
/* creates special format for radio adn checkbox input tags */
.extraClass, .meal{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    border: 1px solid black;
}
h1, h3{
    border: 1px solid white;
}
/* creates margin */
.margin{
    margin: 1.5%;
}
/* creates smaller margin for radio and checkbox inputs */
.meal, .extraClass{
    border: 1px solid black;
    margin: .25%;
}
/* resize button font */
button{
    font-size: 200%;
}
/* format for buttons */
.buttonRow{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 1%;
}
/* resizes for smaller screen */
@media (max-width: 685px){
    /* changes meal and extras to column */
    .extraClass, .meal{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    /* shrinks width of radio and checkbox buttons */
    .click{
        width: 5vw;
    }
    *{
        margin: 1%;
    }
}
@media (max-width: 407px){
    /* changes the rows to columns */
    .row{
        flex-direction: column;
    }
}