html {
    background-color: black;
    color: white;
}

span {
    border-right: white solid 2px;
    margin-left: 20px;
    margin-right: 20px;
}

textarea {
    height: 1em;
    width: 250px;
    resize: none;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}
.row{
    flex-direction: row;
}